<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Salary Calculator</title>
	<style>
	.field{
		margin-bottom: 10px;
	}
	label{
		display: block;
	}
	#divResult{
		color : red;
		font-size: 19pt;
		font-weight: bold;
	}
	</style>
	<!-- basic, hra, da, tax -->
	<script src="jquery-1.12.3.min.js"></script>
	<script src="angular.min.js"></script>
	<script>
		Object.prototype.toInt = function(){
			return parseInt(this, 10);
		};

		//Model
		function SalaryCalculator(){
			this.basic = 0;
			this.hra = 0;
			this.da = 0;
			this.tax = 0;
			this.salary = 0;
		}
		SalaryCalculator.prototype.calculate = function(){
			var gross = this.basic + this.hra + this.da;
			var net = gross * ((100-this.tax)/100);
			this.salary = net;
		};
		
		function MathCalculator(){
			this.number1 = 0;
			this.number2 = 0;
			this.result = 0;
		}
		MathCalculator.prototype.add = function(){
			this.result = this.number1 + this.number2;
		};
		MathCalculator.prototype.subtract = function(){
			this.result = this.number1 - this.number2;
		};
		MathCalculator.prototype.multiply = function(){
			this.result = this.number1 * this.number2;
		};
		MathCalculator.prototype.divide = function(){
			this.result = this.number1 / this.number2;
		};

		

		var myApp = angular.module("myApp", [])
		myApp.run(function($rootScope){
			$rootScope.appName = 'Salary Calculator';
		});
		myApp.controller("calculatorController", function($scope){
			$scope.calculator = new SalaryCalculator();
		});
		myApp.controller("mathController1", function($scope){
			$scope.calculator = new MathCalculator();
		});
		myApp.controller("mathController2", function($scope){
			
		})
	</script>
</head>
<body ng-app="myApp">
	<h1 ng-bind="appName"></h1>
	<hr>
	<div class="content" ng-controller="calculatorController">
		<div class="field">
			<label for="">Basic :</label>
			<input type="number" id="txtBasic" ng-model="calculator.basic">
		</div>
		<div class="field">
			<label for="">HRA :</label>
			<input type="number" id="txtHra" ng-model="calculator.hra">
		</div>
		<div class="field">
			<label for="">DA :</label>
			<input type="number" id="txtDa" ng-model="calculator.da">
		</div>
		<div class="field">
			<label for="">Tax[%] :</label>
			<input type="range" id="rangeTax" min="0" max="30" ng-model="calculator.tax">
			<span id="spanTax" ng-bind="calculator.tax">[Tax]</span>
		</div>
		<div class="field">
			<input type="button" value="Calculate" id="btnCalculate" ng-click="calculator.calculate()">
		</div>
		<div class="field">
			<div id="divResult" ng-bind="calculator.salary | currency:'Rs'">[Salary]</div>
		</div>
		<hr>
		<small><i><b><span ng-bind="appName"></span></b><span> created for Cisco</span></i></small>
	</div>
	<div class="content" ng-controller="mathController1">
		<h3>Math Calculator</h3>
		<input type="number" ng-model="calculator.number1">
		<input type="number" ng-model="calculator.number2">
		<input type="button" value="Add" ng-click="calculator.add()">
		<input type="button" value="Subtract" ng-click="calculator.subtract()">
		<input type="button" value="Multiply" ng-click="calculator.multiply()">
		<input type="button" value="Divide" ng-click="calculator.divide()">
		<div id="divResult" ng-bind="calculator.result">[Result]</div>
	</div>
	<div class="content" ng-controller="mathController2">
		<hr>
		<input type="number">
		<select>
			<option value="add">add</option>
			<option value="subtract">subtract</option>
			<option value="multiply">multiply</option>
			<option value="divide">divide</option>
		</select>
		<input type="number">
		<input type="button" value="Calculate">
		<div id="divResult" ng-bind="calculator.result">[Result]</div>
	</div>
</body>
</html>